// npm install -g less
// type this command in terminal less-watch-compiler  less css App.less

@redColor: red;
@whiteColor: white;
.amazing {
  color: #1230da;
  font-size: 20px;
}

body {
  background-image: url("../pictures/nyc/nyc.jpg");
  width: 100%vw;
  .App {
    text-align: center;
    display: flex;
    flex-direction: column;

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        text-decoration: none;
        &:hover {
          color: white;
        }
        .amazing;
      }
    }
    .content {
      @media (max-width: 600px) {
        flex-direction: column;
        .summary {
          margin-left: 30px;
          margin-top: 20px;
        }
      }
      margin-top: 100px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      .myImage {
        img {
          border-radius: 300px;
        }
      }
      .summary {
        background: papayawhip;
        border-radius: 10px;
        width: 300px;
        padding: 20px;
        &:hover {
          border: 1px solid black;
          border-radius: 20px;
        }
        p {
          &:hover {
            color: green;
          }
          font-weight: bold;
          color: purple;
          font-size: 20px;
        }
      }
    } // content
    .video {
      background: -webkit-linear-gradient();
      p {
        color: palegreen;
        font-size: 30px;
        font-weight: bold;
      }
    } // vedio
  } //app
} // body
.box1 {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  color: red;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  background: aliceblue;
  align-items: space-around;

  .box2 {
    border-top: 1px solid black;
    margin-top: 10px;
  }
  .box3 {
    border-top: 1px solid black;
    margin-top: 50px;
  }
}
.model1 {
  background: yellowgreen;
  position: absolute;
  top: 150px;
  left: 10px;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .react {
    img {
      border-radius: 50px;
    }
  }
  .python {
    img {
      border-radius: 50px;
    }
  }
  .node {
    background: tomato;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    border-radius: 50px;
  }
  .jest {
    background: tomato;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    border-radius: 50px;
  }
  .html {
    background: tomato;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    border-radius: 50px;
  }
  .javascript {
    background: tomato;
    width: 100px;
    height: 100px;
    border: 2px solid green;
    border-radius: 50px;
  }
}
