.amazing {
  color: #1230da;
  font-size: 20px;
}
body {
  background-image: url("../pictures/nyc/nyc.jpg");
  width: 100%vw;
}
body .App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
body .App .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .App .links a {
  text-decoration: none;
  color: #1230da;
  font-size: 20px;
}
body .App .links a:hover {
  color: white;
}
body .App .content {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  body .App .content {
    flex-direction: column;
  }
  body .App .content .summary {
    margin-left: 30px;
    margin-top: 20px;
  }
}
body .App .content .myImage img {
  border-radius: 300px;
}
body .App .content .summary {
  background: papayawhip;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}
body .App .content .summary:hover {
  border: 1px solid black;
  border-radius: 20px;
}
body .App .content .summary p {
  font-weight: bold;
  color: purple;
  font-size: 20px;
}
body .App .content .summary p:hover {
  color: green;
}
body .App .video {
  background: -webkit-linear-gradient();
}
body .App .video p {
  color: palegreen;
  font-size: 30px;
  font-weight: bold;
}
.box1 {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  color: red;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  background: aliceblue;
  align-items: space-around;
}
.box1 .box2 {
  border-top: 1px solid black;
  margin-top: 10px;
}
.box1 .box3 {
  border-top: 1px solid black;
  margin-top: 50px;
}
