.amazing {
  color: #1230da;
  font-size: 20px;
}
body {
  background-image: url("../pictures/nyc/nyc.jpg");
  width: 100%vw;
}
body .App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
body .App .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
body .App .links a {
  text-decoration: none;
  color: #1230da;
  font-size: 20px;
}
body .App .links a:hover {
  color: red;
}
body .App .content {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  body .App .content {
    flex-direction: column;
  }
  body .App .content .summary {
    margin-left: 30px;
    margin-top: 20px;
  }
}
body .App .content .myImage img {
  border-radius: 300px;
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
}
body .App .content .summary {
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
  background: papayawhip;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
}
body .App .content .summary:hover {
  border: 1px solid black;
  border-radius: 20px;
}
body .App .content .summary p {
  font-weight: bold;
  color: purple;
  font-size: 20px;
}
body .App .content .summary p:hover {
  color: green;
}
body .App .video {
  background: -webkit-linear-gradient();
}
body .App .video p {
  color: palegreen;
  font-size: 30px;
  font-weight: bold;
}
.box1 {
  border: 1px solid black;
  width: 80px;
  height: 80px;
  color: red;
  position: absolute;
  padding: 20px;
  top: 0px;
  left: 0px;
  background: aliceblue;
  align-items: space-around;
}
.box1 .box2 {
  border-top: 1px solid black;
  margin-top: 10px;
}
.box1 .box3 {
  border-top: 1px solid black;
  margin-top: 50px;
}
.model1 {
  background: yellowgreen;
  position: absolute;
  top: 150px;
  left: 10px;
}
.skills {
  background-image: url("../pictures/nyc/nyc.jpg");
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
  border: 2px solid red;
  color: blue;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  margin: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills h1 {
  margin-left: 200px;
  font-size: 40px;
}
.skills .react img {
  border-radius: 50px;
}
.skills .python {
  margin-left: 100px;
}
.skills .python img {
  border-radius: 50px;
}
.skills .node {
  margin-left: 150px;
}
.skills .node img {
  border-radius: 50px;
}
.skills .jest {
  margin-left: 200px;
}
.skills .jest img {
  border-radius: 50px;
}
.skills .html {
  margin-left: 250px;
}
.skills .html img {
  border-radius: 50px;
}
.skills .javascript {
  margin-left: 300px;
}
.skills .javascript img {
  border-radius: 50px;
}
.skills .c {
  margin-left: 350px;
}
.skills .c img {
  border-radius: 50px;
}
.contact {
  background-image: url("../pictures/nyc/nyc.jpg");
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
  color: blue;
  margin: 0 300px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid blue;
  width: 600px;
  height: 650px;
  border-radius: 50px;
}
.contact:hover {
  opacity: 0.9;
}
.contact input {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
  border-radius: 10px;
}
.contact textarea {
  margin-top: 20px;
  width: 400px;
  height: 300px;
  box-shadow: 0 20px 50px rgba(23, 3, 61, 0.7);
  border-radius: 10px;
}
.contact button {
  width: 100px;
  height: 50px;
  box-shadow: 0 20px 50px rgba(59, 43, 91, 0.7);
  border-radius: 50px;
}
